<h1>Beneficios</h1>
<h3>
<%= link_to "Novo beneficio", new_benefit_path %> <br><br>

<% if @benefits.empty? %>
    <p> Não existem beneficios cadastradas</p>
<% end %>

<% @benefits.each do |benefit| %>
    <%= link_to benefit.name, benefit_path(benefit) %><br>
<% end %>

<br><br><br>   
<%= link_to 'Voltar', root_path %>
</h3>