
<h1> Vagas aplicadas</h1>
<ul>
   
        <% @profilejobs.each do |profilejob| %>
            <p>
                <%= profilejob.job.title %> 
                <%= time_ago_in_words(profilejob.created_at) %> atrás
            </p>
            <p>
                <%= profilejob.comment %>
            </p>
        <% end %>
    
    
</ul>

<%= link_to 'Voltar', root_path %>