<h3>Vagas</h3>

<%= link_to "Nova vaga", new_job_path %> <br><br>

<% if @jobs.empty? %>
    <p> Não existem vagas cadastradas</p>
<% end %>

<% @jobs.each do |job| %>
    <%= link_to job.title, job_path(job) %>
    <%= job.description %>
<% end %>

<br><br><br>   
<%= link_to 'Voltar', root_path %>