<h1>Trampos....</h1>
<ul>
    <li><%= link_to "Vagas", jobs_path %></li>
    <li><%= link_to "Empresas", companies_path %></li>
    <li><%= link_to "Habilidades", skills_path %></li>
    <li><%= link_to "Nivel Vaga", joblevels_path %></li>
</ul>
