<h3>Empresas</h3>

<%= link_to "Nova empresa", new_company_path %> <br><br>

<% if @companies.empty? %>
    <p> Não existem empresas cadastradas</p>
<% end %>

<% @companies.each do |company| %>
    <%= link_to company.name, company_path(company)%>
    <%= link_to company.cnpj, company_path(company)%><br>
<% end %>
<br><br><br>    
<%= link_to 'Voltar', root_path %>